<div class="card">
    <h2 style="text-align:center">Semester</h2>
    <h4>For Lateral Entry</h4>
  
    <div class="grid p-fluid mt-3" [formGroup]="form">
      <div class="field col-6">
        <span class="p-float-label">
          <input type="text" id="inputtext" pInputText formControlName="value1" />
          <label for="inputtext">Diploma Branch Studied</label>
        </span>
      </div>
  
      <div class="field col-6">
        <span class="p-float-label">
          <input type="text" id="inputtext" pInputText formControlName="value2" />
          <label for="inputtext">Name of the Board</label>
        </span>
      </div>
  
      <div class="field col-6">
        <span class="p-float-label">
          <input type="text" id="lefticon" pInputText formControlName="value3" />
          <label for="lefticon">% of Marks</label>
        </span>
      </div>
  
      <div class="field col-12">
        <h2 style="text-align: center;">Semester Marks</h2>
      </div>
  
      <!-- Semester Inputs -->
      <div class="field col-12 md:col-6">
        <span class="p-float-label p-input-icon-right">
          <input type="text" id="righticon" pInputText formControlName="value4" />
          <label for="righticon">Sem-1</label>
        </span>
      </div>
  
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value5" />
          <label for="inputgroup">Sem-2</label>
        </span>
      </div>
  
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value6" />
          <label for="inputgroup">Sem-3</label>
        </span>
      </div>
      
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value7" />
          <label for="inputgroup">Sem-4</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value8" />
          <label for="inputgroup">Sem-5</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value9" />
          <label for="inputgroup">Sem-6</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value10" />
          <label for="inputgroup">Sem-7</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value11" />
          <label for="inputgroup">Sem-8</label>
        </span>
      </div>
      
      <!-- Bank Account Details -->
      <div class="field col-12">
        <h2 style="text-align: center;">Bank Account Details</h2>
      </div>
  
      <div class="field col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value12" />
          <label for="inputgroup">Name of the Bank</label>
        </span>
      </div>
  
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value13" />
          <label for="inputgroup">Name of the Branch/Place</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value14" />
          <label for="inputgroup">Bank Account Number</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value15" />
          <label for="inputgroup">MICR Code of the Bank </label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="value16" />
          <label for="inputgroup">IFSC Code of the Bank</label>
        </span>
      </div>
  
      <div class="button-row">
        <button class="btn back-btn" (click)="goToStep5()">Back</button>
        <button class="btn submit-btn">Submit</button>
      </div>
    </div>
  </div>
  
