<div class="card">
    <div class="container text-center my-4">
        <h2 class="bg-warning text-black p-2">
            Application Data
        </h2>
        </div>
<div class="grid p-fluid mt-3">
   
  
    <div class="field col-6">
        
        <h5>Course</h5>
        <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="SELECT THE COURSE" [showClear]="true"></p-dropdown>
    </div>
    <div class="field col-6">
        <h5>Admission Type</h5>
        <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="SELECT THE ADMISSION TYPE" [showClear]="true"></p-dropdown>
    </div>
    <div class="field col-12">
        <h5>Select The Degree</h5>
        <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="SELECT THE DEGREE" [showClear]="true"></p-dropdown>
    </div>
</div>

<div class="field col-12 title">
    <div class="container text-center my-4">
        <h2 class="bg-warning text-black p-2">Academic Year 2024-2025</h2>
    </div>
<div class="grid p-fluid mt-">
   
        <div class="field col-6">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText>
                <label for="float-input">APPLICATION NO:</label>
            </span>
        </div>
        <div class="field col-6">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText>
                <label for="float-input">AU COUNSELLING NO:</label>
            </span>
        </div>
        <div class="field col-6">
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="SELECT THE COURSE" [showClear]="true"></p-dropdown>
        </div>
        <div class="field col-6">
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="SCHOLARSHIP CATEGORY" [showClear]="true"></p-dropdown>
        </div>
    </div>


</div>

<div class="button-row">
    <button class="btn next-btn" (click)='goTologin()'>Back</button>
    <button class="btn submit-btn"  (click)='goToStep2()'>Next</button>
  </div>

  </div>

  